<div class=" bg-[#F4F2EE] p-4 sm:ml-64">
    <div class="p-4 rounded-lg">
        <h1 class="font-[Pacifico,cursive] text-3xl text-[#DC5C45] font-extrabold p-2">Learn, Cook, Eat Your Food</h1>

        <div>
            <ul class=" flex flex-wrap">
                <li class="p-1 m-1 mb-5">
                    <a routerLink="/all"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        All</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/beef"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Beef</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/breakfast"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Breakfast</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/chicken"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Chicken</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/dessert"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Dessert</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/goat"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Goat</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/lamb"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Lamb</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/miscellaneous"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Miscellaneous</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/pasta"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Pasta</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/pork"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Pork</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/seafood"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Seafood</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/side"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Side</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/starter"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Starter</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/vegan"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Vegan</a>
                </li>

                <li class="p-1 m-1 mb-5">
                    <a routerLink="/vegetarian"
                        class="border-[#9CA3AF] border rounded-3xl hover:bg-black hover:text-white font-[cursive] text-xl py-2 px-3">
                        Vegetarian</a>
                </li>
            </ul>
        </div>

        <router-outlet></router-outlet>
    
    </div>
</div>


