<footer>
    <div class="flex flex-wrap sticky bottom-0 left-0 right-0 h-28 p-10 bg-white shadow-lg z-50 justify-evenly items-center">
        <div class="flex items-center">
            <img class="w-[4%]" src="https://assignment-sass.vercel.app/assets/logo-BfNap0Pe.png" alt="logo">
            <h2 class="m-2 text-black font-[cursive] font-bold text-2xl"> Recipe </h2>
        </div>
        <h2 class="p-2 m-2 text-blue-700 font-[cursive] font-bold text-2xl">Route</h2>
    </div>
    <div class="text-center p-10">
        <p class="text-[#6B7280] font-[cursive] text-md">© 2025 Osama Abdelhady™. All Rights Reserved.</p>
    </div>
</footer>